*{
    box-sizing: border-box;
}

section{
    display: block;
}

a{
    text-decoration: none;
}

body{

}
/* панель навигации*/
.container{
	width: 1170px;
	margin: 0 auto;
}
 .container:before{
    display: table;
    content: " ";
  }

  .container:after{
    display: table;
    content: " ";
    clear:both;
  }
.top_head{
	position: absolute;
	top: 20px;
	width: 100%;
	padding: 20px 0;
}
.top_head .container{
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	padding-bottom: 35px;
}
.logo{
	float: left;
}
nav{
	float: right;
	padding-top: 4px;
}
nav ul{
	list-style: none;
}
nav li{
	float: left;
	margin-right: 20px;
}
/* убераем правый марджин у последнего пункта меню*/
nav li:last-child{
	margin-right: 0;
}
nav a:hover{
	color: #e84545;
}
nav a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
/*musthead*/
.masthead{
	height: 750px;
	color: #fff;
	background: #222;
	background: url(../img/home_bg.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;


}
.masthead .container{
	padding-top: 260px;

}
.masthead h1{
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	width: 820px;
	margin: 0 auto;


}
.masthead p{
	margin-top: 25px;
	width: 850px;
	font-size: 21px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin-bottom: 55px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.btn{
	width: auto;
	display: inline;
	margin: 0 auto;
	background-color: #e84545;
	padding: 20px 55px;
	border-radius: 3px;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	cursor: pointer;

}
.btn a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.btn:hover{
	background-color: #e03131;
}
.btn a:hover{
	color: #fff;
}
/*Feature. 6 пунктов*/

.item{
	float: left;
	width: 33.33%;
	text-align: center;
	margin: 60px 0;
}
.item p{
	padding-top: 30px;
	font: 13px/18px 'Raleway', sans-serif;
	font-weight: 400;
	color: #6c7279;

}
.item h2{
	text-transform: uppercase;
	font: 19px 'Raleway', sans-serif;
	font-weight: 700;
	color: #000;
}
/*insert image*/
.image{
	width: 100px;
	height: 60px;
	display: block;
	margin: 0 auto 35px;
	background: url(../img/sprite_feature.png) no-repeat;
}
.img01{
	background-position: 22px;
}
.img02{
	background-position: -112px;
}
.img03{
	background-position: -248px;
}
.img04{
	background-position: -366px;
}
.img05{
	background-position: -481px;
}
.img06{
	background-position: -610px;
}

/*Works*/
.works{
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	
}
.works ul{
	list-style-type: none;
	-webkit-padding-start: 0;
	
}
.works ul li{
	float: left;
	width: 25%;
	margin: -2px;
	position: relative;
	

}
.works img{
	width: 100%;
	
	
}
.overlayPhoto {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(211, 64, 63,.5);
	color: white;
	text-align: center;
	padding-top: 35%;
	text-decoration: none;
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	
}
.works a{
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	text-transform: uppercase;
}
.works li:hover .overlayPhoto{
		opacity: .7;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
}
/*Team*/
.team_item{
	width: 260px;
	margin: 100px 15px 125px 15px;
	padding-top: 295px;
	/*border-bottom: 0px solid #e84545;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;*/
	float: left;
}
/*.team_item:hover{
	border-bottom: 5px solid #e84545;
	overflow: hidden;
	
}*/
.team_item h3{
	font: 20px 'Raleway', sans-serif;
	font-weight: 400;
	
}
.team_item h4{
	margin-top: 3px;
	font: 12px 'Raleway', sans-serif;
	font-weight: 400;
	color: #e84545;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.team_item:hover h4{
	font-weight: 700;


}
.team_item p{
	margin-top: 20px;
	font: 13px 'Raleway', sans-serif;
	font-weight: 400;
	color: #6c7279;

}
.team_network{
	-webkit-padding-start: 0;
}
.team_network li{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/sprite_network.png) no-repeat;
	margin-right: 5px;
	transform: translateY(0px);
	-webkit-transition: transform .3s;
	-o-transition: transform .3s;

	

}
.team_network li:hover{
	cursor: pointer;
	transform: translateY(-5px);

}
.team_network a{
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
}
.team_network .team_button1{
	background-position: 0 0;
}
.team_network .team_button2{
	background-position: -50px 0;
}
.team_network .team_button3{
	background-position: -100px 0;
}

.team_img01{
	background: url(../img/team01.jpg) no-repeat center top;
}
.team_img02{
	background: url(../img/team02.jpg) no-repeat center top;
}
.team_img03{
	background: url(../img/team03.jpg) no-repeat center top;
}
.team_img04{
	background: url(../img/team04.jpg) no-repeat center top;
}



/*Footer*/

/*Footer Top*/
.footer_top{
	background: #3a3e64;
	width: 100%;
	/*height: 250px;*/

}
.footer-item{
	float: left;
	width: 33.33%;
	margin: 10px 0;
	padding: 70px 0;
	text-align: center;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
}
.footer-item p{
	padding-top: 30px;
	font: 13px/20px 'Raleway', sans-serif;
	font-weight: 400;
	color: #6c7279;

}
.footer-item h3{
	text-transform: uppercase;
	font: 19px 'Raleway', sans-serif;
	font-weight: 700;
	color: #fff;
}
.network{
	margin-top: 20px;
}
.footer-item img{
	padding-top: 20px;
}
.footer-item img:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	
}
.team_network .team_button4{
	background-position: -150px;
}
.team_network .team_button5{
	background-position: -200px;
}
.team_network .team_button6{
	background-position: -249px;
}


.team_network .team_button4:hover{
	background-position: 0;
}
.team_network .team_button5:hover{
	background-position: -50px;
}
.team_network .team_button6:hover{
	background-position: -100px;
}
/*Footer*/
.copyright{
	background: #313454;
	width: 100%;
	text-align: center;
	padding: 45px 0;
	
}
.copyright p{
	font: 16px/26px 'Open Sans', sans-serif;
	color: #808080;
}
.white{
	color: #fff;
}
.love{
	color: #e84545;
	display: inline-block;
	transform: scale(1);
	-webkit-transition: transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;

}
.love:hover{
	transform: scale(1.5);
}

/*Download*/
 

  .section {
    padding: 100px 0;
  }

 
 

  .text-center{
    text-align: center;
  }

  .col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
  }

  .download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
  }

  .download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
  }
